body {
	background-color:black;
	font-family:helvetica;
}

#gameboard {
	border: 1px solid black;
	display: grid;
	grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
	grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
	justify-content: center;
	width: 600px;
	height: 600px;
	margin-left:auto;
	margin-right:auto;
}

#gameboard div {
	background-color:#33cc33;
	background-repeat:no-repeat;
	background-size:cover;
}

#menu {
	color:white;
	position:absolute;
	position:fixed;
	display: block;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:black;
}

#menu h1 {
	width:20%;
	align-items:center;
	background-color:black;
	padding:20px;
	font-size:300%;
	margin-left:auto;
	margin-right:auto;
}

#menu button {
	border:none;
	padding:7px 20px;
	color:white;
	background-color:black;
	margin-left:auto;
	margin-right:auto;
}

#instructionText {
	color:white;
	display: none;
	background-color:black;
	grid-template-columns:600px 100px;
	grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	position:fixed;
	justify-content:center;
	top:20%;
	left:0px;
	width:100%;
	height:80%;
}

#instructionText div {
	background-repeat:no-repeat;
	background-size:cover;
}

/**** images ****/
.goodguy {
	background-image:url("images/goodguy.png");
}

.arrowr {
	background-image:url("images/arrowr.png");
}

.arrowu {
	background-image:url("images/arrowu.png");
}

.arrowl {
	background-image:url("images/arrowl.png");
}

.arrowd {
	background-image:url("images/arrowd.png");
}

.goodguyr {
	background-image:url("images/goodguyr.png");
}

.goodguyu {
	background-image:url("images/goodguyu.png");
}

.goodguyl {
	background-image:url("images/goodguyl.png");
}

.goodguyd {
	background-image:url("images/goodguyd.png");
}

.badguyr {
	background-image:url("images/badguyr.png");
}

.badguyu {
	background-image:url("images/badguyu.png");
}

.badguyl {
	background-image:url("images/badguyl.png");
}

.badguyd {
	background-image:url("images/badguyd.png");
}

.wallup {
	background-image:url("images/wallup.png");
}

.wallside {
	background-image:url("images/wallside.png");
}

.walljumpr {
	background-image:url("images/walljumpr.png");
}

.walljumpu {
	background-image:url("images/walljumpu.png");
}

.walljumpl {
	background-image:url("images/walljumpl.png");
}

.walljumpd {
	background-image:url("images/walljumpd.png");
}

.tree0 {
	background-image:url("images/tree0.png");
}

.tree1 {
	background-image:url("images/tree1.png");
}

.tree2 {
	background-image:url("images/tree2.png");
}

.tree3 {
	background-image:url("images/tree3.png");
}

.rock0 {
	background-image:url("images/rock0.png");
}

.rock1 {
	background-image:url("images/rock1.png");
}

.rock2 {
	background-image:url("images/rock2.png");
}

.rock3 {
	background-image:url("images/rock3.png");
}

.water0 {
	background-image:url("images/water0.png");
}

.water1 {
	background-image:url("images/water1.png");
}

.flag {
	background-image:url("images/flag.png");
}

.bridge {
	background-color:#800020;
}
/**** images ****/

.message {
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	color:white;
	font-family:lucidia console;
	font-size:8em;
	vertical-align:top;
	text-align:center;
	line-height:100vh;
}





























































